h3
{
    font-size: 25px !important;
}

.btn-success:hover
{
    background-color: purple;
}
   canvas{
    animation-name: example;
    animation-duration: 45;
    animation-iteration-count: infinite;
   }
@keyframes example {
    from {box-shadow: 1px 1px 38px rgb(179, 169, 169);}
    to {box-shadow:1px 1px 38px rgb(221, 149, 203);}
}